@value sfured from 'styles/color.css';

.transit {
  margin-bottom: 2em;
}

.myBusesHeader {
  border-bottom: 2px solid sfured;
}

.myBuses {
  color: sfured;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
}
