{
  "presets": [
    "node6",
    "react"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
