{
  "presets": [
    ["env", {
      "targets": {
        "node": true
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "dedent",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
