{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "unobtrusive",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "dedent": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "jest"],
  "settings": {
    "import/resolver": "webpack",
    "import/extensions": [".js", ".jsx"]
  }
}
