@value sfured, sfugold from 'styles/color.css';

.headerContainer {
  border-bottom: 2px solid sfured;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: sfured;
  padding: .5em 1em;
}

.title {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
}

.navToggle {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

.navToggleActive svg rect {
  fill: sfugold;
}

.navToggle:focus {
  outline: none;
}

.snapLogo {
  border-radius: 3px;
}
