@value sfured from 'styles/color.css';

.row {
  display: flex;
  margin-bottom: 1em;
}

.busIcon {
  width: 40px;
  height: 40px;
}

.routeInfo {
  margin-left: .5em;
  flex-grow: 1;
}

.routeNumber {
  color: sfured;
  font-size: 1.25em;
  margin: 0;
}

.destination {
  text-transform: capitalize;
  margin: 0;
  font-weight: normal;
  font-size: .8em;
}

.arrivalTimes {}
.arrivalTimesList {
  list-style: none;
  margin: 0;
}

.arrivalTime {
  font-size: .8em;
  text-align: right;
}

.arrivalTime:first-of-type {
  color: sfured;
  font-size: 1.25em;
  font-weight: bold;
}

.realTimeIcon {
  height: .5em;
  position: relative;
  top: -15px;
  right: -3px;
  transform: scaleX(-1) rotate(-15deg);
  filter: FlipH;
}

.bookmarkButton {
  width: 25px;
  height: 25px;
  margin: .25em 0 0 .75em;
}
