.myAssignmentsExams {
  margin: 1em;
}

.noAssignmentsExams {
  text-align: center;
}

.scheduleTableContainer {
  border-bottom: 1px solid #eeeeee;
}

.scheduleTableContainer:last-of-type {
  border-bottom: none;
}

.termName {
  text-align: center;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: normal;
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 1em;
  margin: .5em 1em 1.5em 1em;
}

.caption,
.thead {
  composes: screenreader-only from 'styles/screenreaderOnly.css'
}

.schedule {
  border-collapse: collapse;
  font-size: .75em;
  width: 100%;
}

.date {
  font-size: 1em;
  margin-bottom: 1em;
}
