@value sfured, sfugold, sfublue from 'styles/color.css';

.tileContainer {
  margin-bottom: .5em;
}

.tileContainer a {
  text-decoration: none;
}

.tile {
  background-color: sfured;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.active .tile {
  background-color: sfugold;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.icon > svg {
  width: 45px;
  height: 45px;
}

.title {
  text-transform: uppercase;
  color: #fff;
  background: sfublue;
  text-align: center;
  padding: .5em;
  flex-grow: 0;
  font-size: .75em;
}
