@value sfured from 'styles/color.css';

.myCourses {
  margin: 1em;
}

.noClasses {
  text-align: center;
}

.classItem {
  padding-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}

.classItem:last-of-type {
  border-bottom: none;
}

.className {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.classTitle {
  font-size: .8em;
  text-transform: uppercase;
  margin: .25em 0 1em 0;
}

.classSchedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5em;
  font-size: .75em;
}

.classSchedule span {
  display: inline-block;
}

.classDays {
  font-weight: bold;
  color: sfured;
  width: 33%;
}

.classTimes {
  width: 33%;
}

.classLocation {
  width: 33%;
  text-align: right;
}
