@value sfured from 'styles/color.css';

.myCourses {
  margin: 1em .5em;
}

.classItem {
  margin-bottom: 1em;
}

.classTitle {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: .25em;
}

.classSchedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .4em;
  font-size: .75em;
}

.classTimes {
  width: 40%;
}

.classLocation {
  width: 20%;
}

/* DaysOfWeekIndicator */
.daysOfWeek {
  width: 40%;
}

.day {
  margin: 0 .1em;
  color: rgba(84, 88, 90, .5);
}

.day:first-child {
  margin-left: 0;
}

.day:last-child {
  margin-right: 0;
}

.activeDay {
  color: sfured;
  font-weight: bold;
}
