@value sfured from 'styles/color.css';

.activityItem > td {
  vertical-align: top;
  padding-bottom: 2em;
}

.activityTime {
  white-space: nowrap;
  text-align: right;
}

.activityName {
  display: block;
  font-weight: bold;
  padding-bottom: .6em;
  text-transform: uppercase;
}

.activityType {
  font-weight: bold;
  text-transform: capitalize;
}
